---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Welcome to Yudiaochan's Blog</h1>
		<p>Built with Astro in AGENTIC mode.</p>
        <hr />
        <ul>
            <li><a href="/openclaw-history">🔍 从 Clawdbot 到 OpenClaw：开源项目的多重演进史</a></li>
        </ul>
	</body>
</html>
